.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9); /* domyślnie ciemne */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root[data-theme="light"] .navbar {
  background-color: rgba(255, 255, 255, 0.9);
}


.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin-left: 1rem;
}

.navbar-menu li {
  margin-right: 1rem;
}

.navbar-right button {
  margin-left: 1rem;
}

.logo {
  height: 40px;
}
